.btn {
  appearance: none;
  background-color: var(--color-bg--surface);
  border: var(--border-style) var(--border-width) var(--color-shade);
  border-radius: 2rem;
  color: var(--color-text--subtle);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: inherit;
  line-height: 1.5;
  margin: 0;
  max-width: 100%;
  outline-offset: .4rem;
  padding: .5rem 1rem;
  text-decoration: none;
  white-space: nowrap;

  &--primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);
  }

  &--secondary {
    background-color: rgba(var(--rgb-black), .05);
    border-color: rgba(var(--rgb-black), .05);
  }

  &--full-width {
    width: 100%;
  }

  &--borderless {
    border: 0;
  }

  &--icon {
    background-position: 1rem center;
    background-repeat: no-repeat;
    background-size: 1.6rem auto;
    padding-left: 3rem;
  }

  &--small-icon {
    background-position: center;
    background-size: 1.6rem;
    height: 2.4rem;
    position: absolute;
    right: 0rem;
    text-indent: -999rem;
    top: 50%;
    transform: translatey(-50%);
    width: 2.4rem;
  }

  &--arrow-up-icon {
    background-image: url('/assets/images/arrow-up.svg');
  }
  
  &--close-icon {
    background-image: url('/assets/images/close.svg');
  }

  &[disabled] {
    opacity: .2;
    pointer-events: none;
  }

  &--show-all {
    display: none;
    margin-top: 1rem;

    .card-grid--unfiltered + & {
      display: block;

      @media (min-width: $breakpoint-huge) {
        display: none;
      }
    }
  }
}
