.logo {
  display: block;
  height: 2.2rem;

  @media (min-width: $breakpoint-small) {
    height: 2.65rem;
  }

  @media (min-width: $breakpoint-large) {
    height: unset;
  }

  &--type {
    display: none;

    @media (min-width: $breakpoint-huge) {
      display: block;
    }
  }
}
