.modal {
  background-color: var(--color-purple);
  border: 0;
  border-radius: .8rem;
  box-shadow: 0 .5rem 2rem var(--color-shadow--dark);
  margin-top: 20vh;
  max-height: 90vh;
  max-width: 90vw;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 0;
  position: fixed;
  text-align: center;
  width: 52rem;

  &::backdrop {
    background-color: rgba(var(--rgb-black), .4);
  }

  &[open] {
    animation: fade-in var(--animation-duration) var(--animation-timing);
  }

  &__content {
    padding: 2rem;
  }

  &__text {
    color: var(--color-white);
    margin: 0;

    &--intro {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }
  }

  &__signing {
    margin: 2.5rem 2rem 1.5rem;

    &__image {
      max-width: 12rem;
    }
  }

  &__code {
    background-color: rgba(var(--rgb-black), .15);
    padding: .2rem .4rem;
  }

  &__thumb {
    align-items: center;
    background-color: var(--color-white--opaque);
    border-radius: 50%;
    display: flex;
    height: 6.4rem;
    justify-content: center;
    margin: 0 auto 1.5rem;
    width: 6.4rem;
  }
}
