.filter {
  margin: -0.2rem 0 1.3rem;
  text-align: center;

  @media (min-width: $breakpoint-huge) {
    margin-top: -.1rem;
  }

  @media (min-width: $breakpoint-huge--plus) {
    margin-top: -.2rem;
  }

  &__button {
    margin: .2rem;

    @media (min-width: $breakpoint-huge) {
      margin: 0.1rem;
      padding: 0.5rem 0.9rem;
      font-size: 1.1rem;
    }

    @media (min-width: $breakpoint-huge--plus) {
      margin: .2rem;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
    }

    &--active {
      background-color: var(--color-ink);
      border-color: var(--color-ink);
      color: var(--color-white);
    }
  }
}
